/* Global rules  */
:root {
  --main-transition: all 0.4s ease-in-out;
  --boxShadow1: 0 0 8px 0px rgb(0 0 0 / 10%);
  --boxShadow2: 0 0 8px 1px rgb(0 0 0 / 10%);
  --main-color: #246bfd;
  --dark-color: #e9e9e9;
  --dark-colorT: #202022;
  --light-color: #85898d;
  --light-colorT: #000000a1;
  --main-colorL: #fefcfc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Add  Scrollbar  */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 7px #777 inset;
  /* background-color: #ddd; */
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #246bfd6e;
  border-radius: 5px;
  transition: var(--main-transition);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(13, 17, 23, 0.69);
  transition: var(--main-transition);
}

body.light {
  background-color: var(--main-colorL);
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
/*End Global rules  */

/* Start Preload  */
.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #575a5e;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.preload.hidden {
  display: none;
}

.preload.light {
  background-color: var(--main-colorL);
}

.preload div {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin: 0 5px;
  transform: scale(0);
  animation: up-and-down 0.5s alternate infinite;
}
.preload .atwo {
  animation-delay: 0.1s;
}

.preload .athree {
  animation-delay: 0.2s;
}

.preload .afour {
  animation-delay: 0.3s;
}

.preload .afive {
  animation-delay: 0.4s;
}

.preload .asix {
  animation-delay: 0.5s;
}

@keyframes up-and-down {
  to {
    transform: scale(1);
  }
}

/* End Preload  */

/* Start to do list  */
.container {
  width: 70%;
  margin: 60px auto;
  /*to particles js */
  position: relative;
  z-index: 1;
}

.container .contentHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  padding: 0px 20px;
  color: var(--dark-color);
  transition: var(--main-transition);
}

.container .contentHead.light {
  color: var(--light-color);
}

.container .contentHead .mainhead {
  font-size: 28px;
}

.container .contentHead i {
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 0 8px 2px #817878;
  cursor: pointer;
  transition: var(--main-transition);
}

.container .contentHead i.dark {
  font-size: 18px;
}
.container .contentHead i.light {
  box-shadow: 0 0 8px 4px #f1f1f1;
}
.container .contentHead i.light:hover {
  box-shadow: 0 0 10px 4px #d5c8c869;
}

.container .contentHead i:hover {
  box-shadow: 0 0 10px 4px #817878;
}

.container form {
  border-radius: 12px;
  background-color: #6d6e70;
  padding: 25px;
  display: flex;
  align-items: center;
  box-shadow: var(--boxShadow1);
  transition: var(--main-transition);
}

.container form.light {
  background-color: #eee;
  box-shadow: 0 0 2px 0px rgb(0 0 0 / 10%);
}

.container form input {
  border-radius: 6px;
  border: 1px solid #d7d7d861;
  background-color: #ededed;
  padding: 15px;
  font-size: 18px;
  flex: 1;
  box-shadow: var(--boxShadow2);
  transition: var(--main-transition);
}
.container form input.light {
  border: 1px solid #ddd;
  background-color: var(--main-colorL);
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 10%);
}

.container form input:focus {
  outline: none;
}
.container form input::placeholder {
  transition: var(--main-transition);
}
.container form input:focus::placeholder {
  opacity: 0;
}

.container form button {
  border: none;
  outline: none;
  padding: 18px 20px;
  border-radius: 6px;
  margin-left: 15px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}

.container form button:hover {
  box-shadow: 0 0 8px 2px var(--main-color);
}

.container form button.light:hover {
  box-shadow: var(--boxShadow2);
}

.container .tasks {
  margin-top: 35px;
  border-radius: 12px;
  background-color: #6d6e70;
  padding: 25px;
  min-height: 270px;
  box-shadow: var(--boxShadow1);
  transition: var(--main-transition);
}
.container .tasks.light {
  background-color: #eee;
  box-shadow: 0 0 2px 0px rgb(0 0 0 / 10%);
}

/* Delete All */
.tasks .delAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks .delAll.show {
  transition: var(--main-transition);
  display: none;
}

.tasks .delAll > i {
  font-size: 30px;
  color: var(--dark-color);
  opacity: 0;
  animation: delAnim 1.5s ease-in-out infinite;
  transition: var(--main-transition);
}
.tasks .delAll > i.light {
  color: var(--light-color);
}

@keyframes delAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tasks .delAll .deleteAll {
  border: none;
  outline: none;
  box-shadow: var(--boxShadow2);
  background-color: transparent;
  font-size: 17px;
  color: var(--dark-color);
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--main-transition);
}
.tasks .delAll .deleteAll:hover {
  box-shadow: 0 0 10px 6px rgb(0 0 0 / 10%);
}

.tasks .delAll .deleteAll.light {
  color: var(--light-color);
}

.tasks .delAll .deleteAll.light:hover {
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 10%);
}

.tasks .delAll .deleteAll > i {
  margin-right: 5px;
}

.tasks .noavailabel {
  margin-top: 25px;
  text-align: center;
  display: block;
  transition: var(--main-transition);
}

.tasks .noavailabel.show {
  transition: var(--main-transition);
  display: none;
}

.tasks .noavailabel img {
  width: 100px;
  height: 100px;
  animation: noavailabel-img 2s infinite ease-in-out;
}
@keyframes noavailabel-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.tasks .noavailabel .notask {
  font-size: 25px;
  color: var(--dark-color);
  margin-top: 5px;
  transition: var(--main-transition);
}

.tasks .noavailabel .notask.light {
  color: var(--light-color);
}

@media (width<=767px) {
  .container {
    width: 95%;
  }

  .container .contentHead {
    padding: 0 10px;
  }

  .container form {
    padding: 15px;
  }
  .container form input {
    font-size: 15px;
  }

  .container form button {
    padding: 15px 8px;
    margin-left: 10px;
  }
  .container .tasks {
    padding: 15px;
  }
}

.container .tasks .task {
  border-radius: 6px;
  box-shadow: var(--boxShadow2);
  padding: 15px;
  padding-bottom: 7px;
  background-color: #ededed;
  transition: var(--main-transition);
}

.container .tasks .task.light {
  background-color: var(--main-colorL);
  box-shadow: var(--boxShadow1);
}

.container .tasks .task.done {
  opacity: 0.6;
}

.tasks .task .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.container .tasks .task:not(:first-of-type) {
  margin-top: 25px;
}

.container .tasks .task h2 {
  font-size: 20px;
  color: var(--dark-colorT);
  margin-top: 5px;
  transition: var(--main-transition);
}

.container .tasks .task h2.light {
  color: var(--light-colorT);
}

.container .task .iconetask {
  position: relative;
}

.container .task .iconetask > i {
  cursor: pointer;
  padding: 9px;
  font-size: 20px;
  border-radius: 50%;
  color: var(--dark-colorT);
  transition: 0.3s;
}

.container .task .iconetask > i:hover {
  background-color: #dddddd91;
}

.container .task .iconetask > i.light:hover {
  background-color: #f3f3f3;
}

.container .task .iconetask .btn-edit-delete {
  position: absolute;
  top: -55px;
  left: -105px;
  width: 145px;
  padding: 5px;
  background-color: #ededed;
  border-radius: 6px;
  box-shadow: var(--boxShadow1);
  z-index: 5;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.container .task .iconetask .btn-edit-delete.light {
  background-color: var(--main-colorL);
}

.container .task .iconetask .visible {
  transition: var(--main-transition);
  transform: scale(1);
}

.container .task .iconetask .btn-edit-delete .edit,
.container .task .iconetask .btn-edit-delete .delete {
  color: var(--dark-colorT);
  font-size: 18px;
  margin: 15px;
  cursor: pointer;
  transition: var(--main-transition);
}

.container .task .iconetask .btn-edit-delete .edit.light,
.container .task .iconetask .btn-edit-delete .delete.light {
  color: var(--light-colorT);
}
.container .task .iconetask .btn-edit-delete .edit:hover,
.container .task .iconetask .btn-edit-delete .delete:hover {
  transform: translateX(7px);
}

.container .task .iconetask .btn-edit-delete .edit i,
.container .task .iconetask .btn-edit-delete .delete i {
  color: #6d6e70;
  font-size: 17px;
  margin-right: 10px;
  transition: var(--main-transition);
}

.container .task .iconetask .btn-edit-delete .edit i.light,
.container .task .iconetask .btn-edit-delete .delete i.light {
  color: #347bbb;
}

/* popup Update  */
.container .popupUpdate .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 14;
  display: none;
  transition: var(--main-transition);
}

.container .popupUpdate .overlay.light {
  background-color: #b1a7a766;
}

.container .update {
  width: 60%;
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 12px;
  background-color: #6d6e70;
  padding: 20px;
  z-index: 15;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
}

.container .update.light {
  background-color: #eee;
  box-shadow: var(--boxShadow1);
}

/* event */
.active .overlay {
  display: block !important;
}
.active .update {
  transition: var(--main-transition);
  transform: translate(-50%, -50%) scale(1);
}
/*  */
.container .update .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .update .title > h2 {
  font-size: 25px;
  color: var(--dark-color);
  transition: var(--main-transition);
}

.container .update .title > h2.light {
  color: var(--main-color);
}

.container .update .title i {
  color: var(--main-color);
  cursor: pointer;
  font-size: 23px;
  transition: var(--main-transition);
}

.container .update .title i.light {
  color: var(--light-color);
}

.container .update .form {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.container .update input {
  outline: none;
  border-radius: 6px;
  border: 1px solid #d7d7d861;
  padding: 15px;
  font-size: 18px;
  flex: 1;
  transition: var(--main-transition);
}
.container .update input.light {
  border: 1px solid #ddd;
}

.container .update input::placeholder {
  transition: var(--main-transition);
}
.container .update input:focus::placeholder {
  opacity: 0;
}

.container .update button {
  border: none;
  outline: none;
  padding: 17px 15px;
  border-radius: 6px;
  margin-left: 10px;
  font-weight: bold;
  background-color: #ed1b2e;
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}

.container .update button.light {
  background-color: #f44336;
}

.container .update button:hover {
  box-shadow: 0 0 8px 1px #ed1b2e;
}

@media (width<=767px) {
  .container .update {
    width: 90%;
    padding: 15px;
  }
  .container .form input {
    font-size: 15px;
  }

  .container .form button {
    padding: 15px 8px;
  }
}

.tasks .task .date {
  color: var(--dark-colorT);
  font-size: 15px;
  font-weight: bold;
  transition: 0.4 ease-in-out;
}

.tasks .task .date.light {
  color: var(--light-colorT);
}

/* Start Alert */
.container .contentAlert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.alert {
  /* width: 250px; */
  width: fit-content;
  display: flex;
  gap: 11px;
  align-items: center;
  background-color: var(--main-colorL);
  padding: 15px;
  padding-right: 40px;
  border-radius: 8px;
  box-shadow: var(--boxShadow1);
  position: relative;
  border-left: 5px solid var(--main-color);
  animation: animalert 0.5s ease-in-out;
}
/*  */
@media (width<=767px) {
  .container .contentAlert {
    transform: translateX(-65%);
  }

  .alert {
    width: 140%;
    padding-right: 0;
    gap: 5px;
  }
}
/*  */
@keyframes animalert {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.alert::before {
  content: "";
  position: absolute;
  /* left: 3px; */
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  animation: progress 3s linear forwards;
}
@keyframes progress {
  100% {
    width: 0;
  }
}

.alert img {
  width: 30px;
  max-width: 100%;
  height: 30px;
}
.alert p {
  font-size: 18px;
  color: var(--light-colorT);
}

/* Start Icone Scroll Top  */

.UP {
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #246bfdc4;
  box-shadow: var(--boxShadow1);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 11px;
  line-height: 40px;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
}

.UP:hover {
  background-color: var(--main-color);
  transform: translateY(-5px);
}

.UP.show {
  opacity: 1;
  z-index: 1;
}
